@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/jost-v13-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --conteiner: 1230px;
  --link-menu-color:#292F36;
  --hover-color: #CDA274;
  --title-color: #292F36;
  --color-text: #4D5053;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: "Jost", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-text);
}

.conteiner {
  max-width: var(--conteiner);
  min-width: 991px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "DM Serif Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
}

.btn {
  position: relative;
  display: inline-flex;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #292F36;
  border-radius: 18px;
  padding: 22px 72px 22px 34px;
  background-image: url(../img/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.btn:hover {
  color: var(--hover-color);
}

.circle-link {
  width: 70px;
  height: 70px;
  margin-left: auto;
  text-decoration: none;
  background: #F4F0EC;
  border-radius: 100px;
  background-image: url(../img/projects-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.circle-link:hover {
  background-color: var(--hover-color);
}

.circle-link--sm {
  width: 52px;
  height: 52px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 38px;
}
.header__menu-link {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: var(--link-menu-color);
  margin-left: 40px;
}
.header__menu-link:hover {
  color: var(--hover-color);
}

.dream-wrap {
  background-image: url(../img/dream-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0px 0px 0px 290px;
}

.dream {
  padding-top: 188px;
  padding-bottom: 260px;
}
.dream__wrap {
  width: 50%;
}
.dream__title {
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
  margin-bottom: 20px;
}
.dream__text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-bottom: 35px;
}

.design {
  padding-top: 105px;
}
.design__grid {
  display: flex;
  list-style: none;
}
.design__grid-item {
  width: 33.333%;
  padding: 70px 42px;
}
.design__grid-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.design__grid-item-card-title {
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  margin-bottom: 17px;
}
.design__grid-item-card-text {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  padding-bottom: 35px;
}
.design__grid-item-card-link {
  display: inline-flex;
  margin-top: auto;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4D5053;
  text-decoration: none;
}
.design__grid-item-card-link:hover {
  color: var(--hover-color);
}
.design__grid-item-card-link:hover::after {
  left: 5px;
}
.design__grid-item-card-link::after {
  content: url(../img/design-arrow.jpg);
  margin-left: 8px;
  position: relative;
  top: 3px;
  transition: 0.4ms;
}

.challeng {
  padding-top: 100px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challeng__left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.challeng__title {
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  margin-bottom: 42px;
}
.challeng__text {
  width: 85%;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-bottom: 30px;
}
.challeng__call-link {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
  text-decoration: none;
  margin-bottom: 50px;
  padding: 14px 0px 14px 113px;
  background-image: url(../img/call-link-img.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.challeng__call-link-span {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
}
.challeng__call-link:hover {
  color: var(--hover-color);
}
.challeng__right-block {
  border-radius: 0px 326px 0px 123px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 51px 121px 51px;
  background: #F4F0EC;
  border-radius: 70px;
}
.review__title {
  width: 54%;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.22px;
  margin-bottom: 46px;
}
.review__list {
  display: flex;
  list-style: none;
  margin: 0 -8.5px;
}
.review__list-item {
  width: 33.333%;
  padding: 0 8.5px;
}
.review__list-item-card {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 55px 35px 45px 35px;
}
.review__list-item-card-top {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.review__list-item-card-img {
  border-radius: 100px;
  margin-right: 20px;
}
.review__list-item-card-name {
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
}
.review__list-item-card-from {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.22px;
}
.review__list-item-card-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.22px;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 140px;
}
.projects__title {
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  margin-bottom: 20px;
}
.projects__text {
  width: 65%;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  margin-bottom: 70px;
}
.projects__grid {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.projects__grid-item {
  width: 50%;
  padding: 10px;
}
.projects__grid-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.projects__grid-card-img {
  width: 100%;
  border-radius: 0px 80px 0px 0px;
  margin-bottom: 24px;
}
.projects__grid-card-title {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
}
.projects__grid-card-style {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.numbers-wrap {
  background: #F4F0EC;
}

.numbers {
  padding-top: 140px;
  padding-bottom: 140px;
}
.numbers__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.numbers__list-item {
  text-align: center;
  padding: 50px 60px 20px 60px;
}
.numbers__list-item-title {
  font-size: 85px;
  line-height: 128px;
  letter-spacing: 1.7px;
  color: #CDA274;
}
.numbers__list-item-text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.numbers__list-item:not(:last-child) {
  border-right: 1px solid #CDA274;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 40px;
}
.blogs__title {
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.22px;
  margin-bottom: 20px;
}
.blogs__text {
  width: 50%;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  text-align: center;
  align-self: center;
  margin-bottom: 70px;
}
.blogs__wrap {
  width: 33.333%;
  padding: 20px 10px;
}
.blogs__list {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.blogs__list-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 21px 21px 41px 21px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}
.blogs__list-card-img {
  width: 100%;
  border-radius: 45px 45px 0px 0px;
  margin-bottom: 15px;
}
.blogs__list-card-title {
  width: 100%;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.blogs__list-card-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
}
.blogs__list-card-aside {
  position: absolute;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
  padding: 10px;
  top: 244px;
  left: 45px;
}

.join-wrap {
  padding-top: 81px;
  padding-bottom: 80px;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 85px;
  background: #292F36;
  border-radius: 70px;
}
.join__title {
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.join__text {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  margin-bottom: 31px;
}
.join__btn {
  background: #CDA274;
  background-image: url(../img/join-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 22px center;
}
.join__btn:hover {
  color: var(--color-text);
}

.footer {
  padding-top: 58px;
}
.footer__first-bar {
  display: flex;
  padding-bottom: 80px;
}
.footer__card {
  width: 21%;
  display: flex;
  flex-direction: column;
}
.footer__card-logo {
  margin-bottom: 23px;
}
.footer__card-text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-bottom: 30px;
}
.footer__card-social {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer__card-social-item {
  padding-right: 40px;
}
.footer__card-social-item a:hover path {
  fill: var(--hover-color);
}
.footer__card-title {
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  margin-bottom: 22px;
}
.footer__card-link {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
  text-decoration: none;
  margin-bottom: 30px;
}
.footer__card-link:hover {
  color: var(--hover-color);
}
.footer__card--xl {
  width: 32%;
}
.footer__card--l {
  width: 26%;
}
.footer__second-bar {
  display: flex;
  justify-content: center;
  border-top: 1px solid #E5E5E5;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer__second-bar-copyright {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__second-bar-link {
  color: #CDA274;
  text-decoration: none;
}
.footer__second-bar-link:hover {
  color: #b99269;
}