@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v13-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/jost-v13-latin_cyrillic-regular.woff') format('woff');
  }
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/dm-serif-display-v10-latin-regular.woff') format('woff');
  }
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root {
     --conteiner: 1230px;
     --link-menu-color:#292F36;
     --hover-color: #CDA274;
     --title-color: #292F36;
     --color-text: #4D5053;
}
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
   }
.body {
     font-family: 'Jost', 'Arial', sans-serif;
     font-style: normal;
     font-weight: 400;
     color: var(--color-text);
}
.conteiner {
     max-width: var(--conteiner);
     min-width: 991px;
     margin: 0 auto;
     padding: 0 15px;
}
.title {
     font-family: 'DM Serif Display', 'Times New Roman', serif;
     font-style: normal;
     font-weight: 400;
     color: var(--title-color);
}
.btn {
     position: relative;
     display: inline-flex;
     font-size: 18px;
     line-height: 27px;
     letter-spacing: 0.72px;
     color: #FFFFFF;
     text-decoration: none;
     background-color: #292F36;;
     border-radius: 18px;
     padding: 22px 72px 22px 34px; 
     background-image: url(../img/btn-arrow.svg);
     background-repeat: no-repeat;
     background-position: right 22px center;
}
.btn:hover {
     color: var(--hover-color);
}
.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 34px;
     padding-bottom: 38px;
     &__menu{
          &-link {
               font-size: 19px;
               line-height: 30px;
               letter-spacing: 0.4px;
               text-decoration: none;
               color: var(--link-menu-color);
               margin-left: 40px;
          }
          &-link:hover {
               color: var(--hover-color);
          }
     }
}
.dream-wrap {
     background-image: url(../img/dream-bg.jpg);
     background-repeat: no-repeat;
     background-position: center top;
     border-radius: 0px 0px 0px 290px;
}
.dream {
     padding-top: 188px;
     padding-bottom: 260px;
     &__wrap {
          width: 50%;
     }
     &__title {
          font-size: 80px;
          line-height: 96px;
          letter-spacing: 0.22px;
          margin-bottom: 20px;
     }
     &__text {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0.22px;
          margin-bottom: 35px;
     }
}
.design {
     padding-top: 105px;
     &__grid {
          display: flex;
          list-style: none;
          &-item {
               width: 33.333%;
               padding: 70px 42px;
               &-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    &-title {
                         font-size: 25px;
                         line-height: 39px;
                         text-align: center;
                         letter-spacing: 0.22px;
                         margin-bottom: 17px;
                    }
                    &-text {
                         font-size: 22px;
                         line-height: 33px;
                         text-align: center;
                         letter-spacing: 0.22px;
                         padding-bottom: 35px;
                    }
                    &-link {
                         display: inline-flex;
                         margin-top: auto;
                         font-size: 18px;
                         line-height: 27px;
                         text-align: center;
                         letter-spacing: 0.36px;
                         color: #4D5053;
                         text-decoration: none;
                    }
                    &-link:hover {
                         color: var(--hover-color);
                    }
                    &-link:hover::after {
                         left: 5px;
                    }
                    &-link::after {
                         content: url(../img/design-arrow.jpg);
                         margin-left: 8px;
                         position: relative;
                         top: 3px;
                         transition: 0.4ms;
                    }
               }
          }
     }
}
.challeng {
     padding-top: 100px;
     padding-bottom: 140px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     &__left-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
     }
     &__title {
          font-size: 50px;
          line-height: 65px;
          letter-spacing: 0.22px;
          margin-bottom: 42px;
     }
     &__text {
          width: 85%;
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0.22px;
          margin-bottom: 30px;
     }
     &__call-link {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0.22px;
          color: #4D5053;
          text-decoration: none;
          margin-bottom: 50px;
          padding: 14px 0px 14px 113px;
          background-image: url(../img/call-link-img.png);
          background-repeat: no-repeat;
          background-position: left center;
          &-span {
               font-size: 24px;
               line-height: 36px;
               letter-spacing: 0.22px;
          }
     }
     &__call-link:hover {
          color: var(--hover-color);
     }
     &__btn {

     }
     &__right-block {
          border-radius: 0px 326px 0px 123px;
     }
}
.review {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 103px 51px 121px 51px;
     background: #F4F0EC;
     border-radius: 70px;
     &__title {
          width: 54%;
          font-size: 45px;
          line-height: 58px;
          text-align: center;
          letter-spacing: 0.22px;
          margin-bottom: 46px;
     }
     &__list {
          display: flex;
          list-style: none;
          margin: 0 -8.5px;
          &-item {
               width: 33.333%;
               padding: 0 8.5px;
               &-card {
                    background: #FFFFFF;
                    border-radius: 30px;
                    padding: 55px 35px 45px 35px;
                    &-top {
                         display: flex;
                         align-items: center;
                         margin-bottom: 32px;
                    }
                    &-img {
                         border-radius: 100px;
                         margin-right: 20px;
                    }
                    &-name {
                         font-size: 25px;
                         line-height: 38px;
                         letter-spacing: 0.22px;
                    }
                    &-from {
                         font-size: 18px;
                         line-height: 27px;
                         letter-spacing: 0.22px;
                    }
                    &-text {
                         font-size: 20px;
                         line-height: 30px;
                         letter-spacing: 0.22px;
                    }
               }
          }
     }
}
.logos {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-top: 140px;
     padding-bottom: 100px;
}
.projects {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 13px;
     padding-bottom: 60px;
     &__title {
          font-size: 47px;
          line-height: 62px;
          text-align: center;
          letter-spacing: 0.22px;
          margin-bottom: 20px;
     }
     &__text {
          width: 65%;
          font-size: 22px;
          line-height: 33px;
          text-align: center;
          letter-spacing: 0.22px;
          margin-bottom: 70px;
     }
     &__grid {
          align-self: stretch;
          display: flex;
          flex-wrap: wrap;
          margin: 0 -10px;
          &-item {
               width: 50%;
               padding: 10px;
          }
          &-card {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               &-img {
                    width: 100%;
                    border-radius: 0px 80px 0px 0px;
                    margin-bottom: 24px;
               }
               &-title {
                    font-size: 24px;
                    line-height: 38px;
                    letter-spacing: 0.22px;
               }
               &-style {
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: 0.22px;
               }
               &-link {
                    width: 70px;
                    height: 70px;
                    margin-left: auto;
                    text-decoration: none;
                    background: #F4F0EC;
                    border-radius: 100px;
                    background-image: url(../img/projects-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
               }
               &-link:hover {
                    background-color: var(--hover-color);
               }
          }
     }
}